div#game {
    background-image: url(../images/UI/Top.png);
    background-repeat: no-repeat;
}

body {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: Arial;
    font-size: 10px;
    line-height: 1;
}

.urlbar {
    position: absolute;
    top: 93px;
    background: transparent;
    border: none;
    -ms-user-select: all;
    user-select: all;
}

input.urlbar {
    width: 590px;
    left: 70px;
    padding-left: 5px;
    z-index: 3;
}

select.urlbar {
    width: 630px;
    opacity: 0;
    left: 55px;
    z-index: 2;
}